body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
    font-size: 1.2em;
  }

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
}

header {
  background-image: url(https://i.insider.com/60f3fa407b0ec5001800aa98?width=1200&format=jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: azure;
  border-top: solid 0.5px azure;
  color: black;
  }
 
h1 {
    line-height: 200%;
    font-family: 'Montserrrat', sans-serif;
    text-align: center;
    color: azure;
  }

nav {
  font-weight: bold;
  text-align: center;
  background-color: azure;
  line-height: 25%;
  border: black;
  }

a {
    color: black;
    text-decoration: none;
    text-shadow: .5px .5px black;
  }
  
main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }
  
h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
    text-shadow: .25px .25px black;
  }
  
blockquote {
    font-style: italic;
    margin: 0;
    padding: 10px 20px;
    border-left: 5px solid #333;
  }
  
strong {
    display: block;
    margin-bottom: 20px;
  }